body {
    font-family: Jost;
}

#aboutus-start {
    background-image: url(picture/mick-haupt-joHasPcobwg-unsplash.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
}

#aboutus-start h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 46px;
}

#aboutus-start p a {
    color: white;
    border-bottom: none;
}
#aboutus-start p a:hover {
    color: #51adcd;
    border-bottom: none;
    text-decoration: none;
}
#aboutus-start p {
    text-align: center;
    color: white;
    font-weight: bold;

}
.aboutus-top {
    margin-top: 100px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.aboutus-top h1 {
    font-weight: 600;

}

.aboutus-top p {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 30px;
}
.aboutus-top a {
    color: #51adcd;
    border-bottom: 2px solid #51adcd;
}
.aboutus-top a:hover {
    color: #51adcd;
    text-decoration: none;
}
.aboutus-video img {
    width: 1110px;
    height: 500px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 50px;
}


.aboutus-video #btns {
    position: absolute;
    top: 20px;
    left: 25px;
    color: black;
    transition: all 0.3s;
}
.aboutus-video #btns:hover {
    color: #51adcd;
}
.aboutus-video .play-container {
    display: inline-block;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    left: 550px;
    top: 300px;
    width: 60px;
    height: 60px;
}


