body {
    font-family: 'Jost', sans-serif;
}

.container {
    max-width: 1440px;
}

/* motivation */

.motivation-product .motivation-line {
    width: 90px;
    height: 1px;
    background-color: #51adcd;
    margin-bottom: 50px;
}

.motivation-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

/* slick slider style */

.slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-65%, 80px);
    display: flex !important;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 4px;
}

.slick-dots button {
    font-size: 0;
    width: 13px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #83868c;
    background-color: #adadad00;
    cursor: pointer;
}

.slick-dots .slick-active button {
    background-color: #83868c;
}

/*it's your choice */

.your-choice-product .your-choice-line {
    width: 90px;
    height: 1px;
    background-color: #51adcd;
    margin-bottom: 20px;
}
.your-choice-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.new-arrivals {
    border: none;
    cursor: pointer;
    height: 42px;
    min-width: 120px;
    font-size: 13px;
    font-weight: 500px;
    color: #fff;
    background: #51adcd;
    margin-bottom: 50px;
}

/* product */

.product-row {
    margin: 0px 0px 0px 0px;
}


 .product-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
   margin: 0px 26px;
   position: relative;
   overflow: hidden;
}

.p-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.p-img a, .p-img {
    width: 100%;
    height: 100%;
    display: flex;
}

.p-img a img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

.label-sale {
    position: absolute;
    top: 10px;
    right: -30px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 12px;
    transform: rotate(45deg);
    width: 110px;
}

.product-box .product-icon {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
   top: 220px;
    left: 5px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(40%);
    transition: opacity 0.5s, transform 0.5s;
}

.product-box:hover .product-icon {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.product-box:hover .product-icon,
.product-box:not(:hover) .product-icon {
    transition-delay: 0.1s;
}

.product-icon li a {
    padding-left: 50px;
    width: 46px;
    height: 46px;
    box-shadow: 0 15px 25px #00000014;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    margin-bottom: 13px;
    transition: .3s;
    color: #000;
    background: #fff;
}

.product-icon li a:hover {
    color: white;
    background: #51adcd;
}

.product-icon .icon-1{
    position: absolute;
    top: 16px;
    left: 68px;
}

.product-icon .icon-2{
    position: absolute;
    top: 16px;
    left: 138px;
}

.product-icon .icon-3{
    position: absolute;
    top: 16px;
    left: 208px;
}

.product-title a {
    color: black;
    font-size: 16px;
    font-weight: inherit;
    text-decoration: none;
}

.product-title a:hover {
    color: #51adcd;
}

.product-price s {
    color: gray;
    font-weight: 700;
    font-size: 15px;
}
.product-price span {
    color: #51adcd;
    font-weight: 700;
    font-size: 15px;
}



/* brand logo */

.brand-logo {
    background: #f4f4f4;
    padding: 50px 0px
}

.brand-logo img {
    transition: all 0.3s ease;
}
.brand-logo img:hover {
    opacity: 0.5;
}


/* banner-sport */
.banner-items  {
 position: relative;
 transition: all .5s linear;
}

.box-img {
    overflow: hidden;
    display: block;
}
.banner-items:hover img {
    transform: scale(1.04);
    transition: all 0.8s linear;
}



.banner-items:hover .banner-content {
    opacity: 1;
    transition: all 0.5s linear;
    left: 50px;
    top: 30%;
}

.banner-items .banner-content {
    position: absolute;
    z-index: 2;
    transition: all .5s linear;
    left: 50px;
    top: 30%;
    opacity: 0;
}

.banner-content h3 {
    font-size: 40px;
    font-weight: 600;
}
.banner-items:hover::after {
    content: "";
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    background-color: rgba(255, 255, 255, .85);
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
}

.banner-items::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transition: all .5s linear;
    z-index: 1;
}

/* run banner */

.banner-run-box {
    position: relative;
    transition: all .5s linear;
}

.run-img {
    overflow: hidden;
}

.run-button {
    background: black;
}
.run-button h1{
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: Jost;
    text-transform: unset;
    font-weight: 400;
    padding-bottom: 10px;
}

.run-button a {
    display: inline-block;
    position: absolute;
    width: 173px;
    height: 44px;
    background-color: #fff;
    top: 77%;
   left: 620px;
    text-align: center;
   padding-top: 15px;
   color: black;
   text-decoration: none;
   transition: all 0.3s ease;
   font-size: 14px;
   font-family: Jost;
   font-weight: 500;
   letter-spacing: 2px;
   line-height: 1;
}

.run-button a:hover {
    background-color: #2786b6;
    color: #fff;
}



.run-img:hover img {
    transform: scale(1.04);
    transition: transform 0.8s linear, filter 0.8s linear;
    transition-delay: 0.2s;
}

.run-img img {
    transform: scale(1);
    transition: transform 0.8s linear, filter 0.8s linear;
    transition-delay: 0.2s; 
}

/*blog section */

.blog-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    text-align: center;
}
.blog-section .blog-line {
    width: 90px;
    height: 1px;
    background-color: #51adcd;
    margin-bottom: 50px;
}

.blog-section .homepage-blog-img img {
    transition: all 0.3s ease;
}

.blog-section .homepage-blog-img img:hover {
    opacity: 0.7;
}

.blog-section .homepage-blog-content .blog-cate  {
    color: #83868c;
    text-decoration: none;
}
.blog-section .homepage-blog-content .blog-cate:hover {
    color: #51adcd;
}

.blog-section .homepage-blog-content .homepage-blog-title{
    color: #000000;
    text-decoration: none;
    transition: all 0.2s ease;
}
.blog-section .homepage-blog-content .homepage-blog-title:hover {
    color: #51adcd;
}

.blog-section .homepage-blog-content hr {
    width: 50px;
    background-color: #51adcd;
    margin-bottom: 15px;
}

.blog-section .homepage-blog-content .blog-short {
    color: #83868c;
    font-size: 16px;
}

.blog-date {
    position: absolute;
    background-color: #fff;
    top: 35px;
    left: 50px;
    width: 68px;
    height: 68px;
    text-align: center;
    padding: 10px 0;
}

.blog-date hr {
    margin: 0 auto;
    width: 28px;
    background: #000;
}

.blog-date .day {
    font-size: 14px;
    color: #000;
    font-weight: 600;

}

.blog-date .month {
    font-size: 10px;
    display: block;
    padding-top: 4px;
    letter-spacing: 3px;
    font-weight: 600;
}
/* banner run */



@media screen and (max-width: 1440px) {
    .product-box {
        position: relative;
        width: 20%;
    }

}

@media screen and (max-width: 1070px) {
    .product-box {
        width: 19%;
        position: relative;
    }
}

@media screen and (max-width: 900px) {
    .product-box {
        width: 18%;
        position: relative;
    }
}